@charset "UTF-8";
//主色
$color-main:#01aab6;
//辅色
$color-second:#b45d01;
//文字主色
$text-main:#010101;
//文字辅色
$text-gray:#a0a0a0;



//文本超出,用省略号
@mixin ell($number) {
display: -webkit-box;
-webkit-line-clamp:$number;
-webkit-box-orient: vertical;
overflow: hidden;

}

%clearfix{
    height: 1%; 
    &:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        
    }
}




//主体宽度
$container:1200px;
